.card{
    display: flex;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 20px;
    justify-content: space-between;
    background-color: #424246;
    height: 350px;
    align-items: center;
    border-radius: 10px;
}

.proj-preview{
    height: 300px;
    border-radius: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.proj-description{
    width: 60%;
    color: #f3f3f3;
}

.proj-summary{
    font-size: 22px;
    
}
.proj-name{
    text-align: center;
    font-size: 40px;
    padding: 10px 0 20px 0;
    font-weight: 100;
    letter-spacing: 3px;
}

.proj-link-div{
    display:flex;
    justify-content: space-around;
    width: 60%;
    margin: 0 auto;
    margin-top: 30px;
}
.link-images{
    height: 30px;
}

