<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/redirect.css">
    <title>Redirecting...</title>
</head>
<body>
   <h1>.
    Thank you! Your message has been sent. I will reply as soon as possible.
    You are now being redirected back to the main page.
    Or you can click <a href="/">Here</a>
   </h1> 




    <script>
        setTimeout(function () {
           window.location = "/";
        }, 3000)
      </script>
</body>


</html>