.intro{
    display: flex;
    width: 70%;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
}


.profilepic{
    width: 100%;
    max-width: 380px;
    max-height: 380px;
    height: auto;
    border-radius: 100%;
    padding:10px;
}

.profile-card{
    width: 40%;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    flex-basis: 100%;
}

.name{
    font-size: clamp(30px, 5vw, 70px);
    font-weight: lighter;
}

.job, .profile-card p{
    font-size: clamp(15px, 5vw, 30px);
    font-weight: 300;
}